     <ion-header>
      <ion-toolbar color="primary">
        <ion-button slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-button>
        <ion-title>Registro</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="registro-container">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Formulario de Registro</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="frmRegistro">
              <ion-item>
                <ion-label position="floating">Nombre del Evento</ion-label>
                <ion-input type="text" formControlName="evento"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Documento del participante</ion-label>
                <ion-input type="text" formControlName="documento"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nombre del partipante</ion-label>
                <ion-input type="text" formControlName="partipante"></ion-input>
              </ion-item>
              <ion-button (click)="registro(frmRegistro.value)">Registrarme</ion-button>
              <ion-button (click)="mostrarEventos()">Eventos</ion-button>
              <ion-button (click)="mostrarParticipantes()">Participantes</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>
  

